<!DOCTYPE html>
<html ng-app='store'>
<head> 
	<title>My App</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

</head>

<body ng-controller="StoreController as store">

<h1 class="jumbotron"> Welcome to the Gem Store</h1>


 <div class="list-group">

<div class="list-group-item" ng-hide="product.soldOut" ng-repeat="product in store.products| orderBy: '-price' ">
<h1> {{product.name}}</h1>
<h2> <em class="pull-right"> {{product.price | currency}}</em>
</h2>
<!-- <div class="gallery">

<img ng-src="{{product.images[0].full}}" />

</div> -->

<div class="gallery">
        <div class="img-wrap" ng-repeat="image1 in product.images">
          <img ng-src="{{image1.full}}" class="pull-left"/>
        </div>
        <ul class="img-thumbnails clearfix" style="clear: both;">
          <li class="small-image pull-left thumbnail" ng-repeat="image2 in product.images">
            <img ng-src="{{image2.thumb}}" />
          </li>
        </ul>
      </div>




<section ng-controller="PanelController as panel">
<ul class="nav nav-pills">
	<li ng-class="{active: panel.isSelected(1)}"><a href="" ng-click="panel.selectTab(1)">Description </a></li>
	<li ng-class="{active: panel.isSelected(2)}"><a href="" ng-click="panel.selectTab(2)">Specification </a></li>
	<li ng-class="{active: panel.isSelected(3)}"><a href="" ng-click="panel.selectTab(3)">Reviews </a></li>
	

</ul>

	


<div class="panel" ng-show="panel.isSelected(1)">
<h4>Description</h4>
<p> {{product.description}}</p>
</div>

<div class="panel" ng-show="panel.isSelected(2)">
<h4>Specification</h4>
<blockquote>
	None yet
</blockquote>
</div>
<div class="panel" ng-show="panel.isSelected(3)">
<h4>Reviews</h4>
<blockquote ng-repeat="review in product.reviews">
	<b>Stars : {{review.stars}}</b>
	{{review.body}}
	<cite>by: {{review.author}}</cite>	

</blockquote>
<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
 <!--  Live Preview -->
<blockquote>
	<b>Stars : {{reviewCtrl.review.stars}}</b>
	{{reviewCtrl.review.body}}
	<cite>by: {{reviewCtrl.review.author}}</cite>	

</blockquote>

<h4> Add a review </h4>
<fieldset class="form-group">
	<select ng-model="reviewCtrl.review.stars" class="form-control" title="Stars">
	<option value="1"> 1 Star</option>
	<option value="2"> 2 Star</option>
	<option value="3"> 3 Star</option>
	<option value="4"> 4 Star</option>
	<option value="5"> 5 Star</option>
</select>

</fieldset>

<fieldset class="form-group">
<textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review" title="Review"></textarea>

</fieldset>


<fieldset class="form-group">
<input type="email" ng-model="reviewCtrl.review.author" class="form-control" placeholder="james@someone.com" />	
</fieldset>

<fieldset class="form-group">
<input type="submit" value="Submit" class="btn btn-primary pull-right"/>	

</fieldset>


</form>


</div>

</section>






<button ng-show="product.canPurchase">Add to Cart</button>
	
</div>


 <!-- <div class="list-group">

<div class="list-group-item" ng-hide="store.products[1].soldOut">
<h1> {{store.products[1].name}}</h1>
<h2> <em class="pull-right"> ${{store.products[1].price}}</em>
</h2>
<p> {{store.products[1].description}}</p>


<button ng-show="store.products[1].canPurchase">Add to Cart</button>
	
</div>
 -->

</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>




<!-- <p>
	
{{"hello" + " you"}}

</p>
 -->
</body>
</html>